<header id="bg-header">
	<div class="header--content">
		<h1>Your Garden Can Help Native Species Thrive</h1>
		<a href="https://caroliniancanada.ca/tracker" class="button button--primary">Join Us in the Zone</a>
	</div>
	<div class="bg-fade" id="bg-fade-1"></div>
	<div class="bg-fade" id="bg-fade-2"></div>
</header>
<section id="in-the-zone" class="section-primary section--about">
	<div class="wrapper flex-container">
		<div class="about--content">
			<p>The Carolinian Zone in southern Ontario is a hotspot for biodiversity, with more species of rare plants and animals than anywhere else in Canada, including the Blanding’s turtle, southern flying squirrel, rusty patch bumblebee and monarch butterfly.</p>
			<p>Not only is the Carolinian Zone home to one-third of Canada’s at risk plants and animals, it’s also home to a quarter of our human population. With the region’s population projected to grow significantly, so will our impact on nature and the health of wildlife.</p>
			<p>If you live in the Carolinian Zone, your garden is a critical piece for restoring lost habitat and creating a healthy future for the region and the wildlife that call it home. Please join us in making your garden part of the solution – together we can grow life-sustaining habitats and resilient landscapes, one yard at a time.</p>
			<br>
			<br>
			<%= image_tag 'map.jpg'%>
			<h2>Growing gardens that help native species thrive</h2>
			<p>In the Zone provides gardeners in Canada’s Carolinian Zone with the tools to gradually transform backyards into woodland, water and wildflower gardens for native wildlife.</p>
			<p><strong>Free gardening resources:</strong> Receive advice from wildlife and gardening experts to cultivate habitat for warblers, frogs, owls, butterflies, bees and more.</p>
			<p><strong>Track your impact:</strong> Using the In the Zone Tracker, gardeners can measure the progress we’re making together to restore lost habitats in this fragile ecoregion. Citizen monitoring makes a valuable contribution to our understanding of biodiversity and can reveal insights into the health of species in the Carolinian Zone.</p>
			<p><strong>Connect:</strong> When you join In the Zone, you can connect with a community of gardeners to share tips, exchange native plants and celebrate successes knowing you are making a difference where you live.</p>
			<br>
			<br>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/agmXerjgA2g?ecver=1" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="about--image">
			<%= image_tag 'gardener.jpg' %>
		</div>
	</div>
</section>
<section class="section-secondary" id="download">
	<div class="wrapper--small center">
		<h2>Get started today!</h2>
		<p class="sub-title">By planting a single native oak, a patch of milkweed or growing an entire native plant garden, you’ll be taking the first step to creating an ecosystem in your yard that offers food and shelter to a diversity of bees, caterpillars, butterflies and birds. Explore strategies for transforming your garden for native wildlife.</p>
		<a href="http://assets.wwf.ca/downloads/welcome_garden_guide.pdf" target="_blank" class="button button--primary" download>DOWNLOAD WELCOME GARDEN GUIDE</a>
	</div>
</section>
<section id="what-can-you-grow" class="section-secondary">
	<div class="wrapper--small">
		<h2>What do you Want to Grow?</h2>
		<p class="center sub-title">Help cultivate resilient, climate-smart, connected neighbourhoods. Each In the Zone Garden Guide offers tips to help transform your garden into flourishing habitat for native wildlife in the Carolinian Zone.</p>
		<div class="zone-toolkits--items">
			<div class="flex-container">
				<div>		
					<figure>
						<div class="figure-content">	
							<%= image_tag 'monarch-icon.png'%>
							<p>Grow a bouquet of native flowering plants for birds, butterflies, bugs and other pollinators.</p>
						</div>
						<figcaption>
							<!-- <h4>Grow a bouquet.</h4> -->
							<p>Grow an abundance of flowering plants for birds, butterflies, bees and other pollinators.</p>
							<h4 class="hl">Wildflower</h4>
							<p>A healthy pollinator population supports food production.</p>
						</figcaption>
					</figure>
				</div>
				<div>		
					<figure>
						<div class="figure-content">
							<%= image_tag 'chipmunk-icon.png', class: 'chimpmunk-icon' %>
							<p>Choose native trees and plants to create a woodland home for owls, chipmunks, and woodpeckers.</p>
						</div>
						<figcaption>
							<!-- <h4>Grow a bouquet.</h4> -->
							<p>Choose native trees and plants to create a woodland home for owls, chipmunks and woodpeckers.</p>
							<h4 class="hl">Woodland</h4>
							<p>Shade trees will help moderate the temperature in your yard and provide cooling for your home.</p>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="flex-container">
				<div>		
					<figure>
						<div class="figure-content">
							<%= image_tag 'frog-icon.png'%>
							<p>Add a pond or enhance a wetland for frogs, toads, turtles and salamanders.</p>
						</div>
						<figcaption>
							<!-- <h4>Grow a bouquet.</h4> -->
							<p>Keep your yard wet for frogs, toads, turtles and salamanders.</p>
							<h4 class="hl">Wetland</h4>
							<p>Healthy ponds and wetlands can buffer your yard from floods and droughts.</p>
						</figcaption>
					</figure>
				</div>
				<!-- <div>		 -->
					<!-- <figure>
						<div class="figure-content">
							<%= image_tag 'chickadee-icon.png'%>
							<p>Create structure for flower and berry-loving birds such as chickadees, wrens and hummingbirds.</p>
						</div>
						<figcaption>
							<h4>Grow a bouquet.</h4>
							<p>Create structure for flower and berry-loving birds such as chickadees, wrens and hummingbirds.</p>
							<h4 class="hl">Shrubs & Vines</h4>
							<p>Your garden will help foraging birds to thrive, and you’ll enjoy the fruits of your labour, too.</p>
						</figcaption>
					</figure> -->
				<!-- </div> -->
			</div>
		</div>
	</div>
</section>
<section id="how-it-works" class="section-primary">
	<div class="wrapper--small">
		<h2>How it works</h2>
		<p class="center sub-title">Whether you’re a gardening guru or have a brown<br> thumb, it’s simple to garden In the Zone.</p>
		<ol class="journey--items">
			<li>
				<div class="count">
					<span>1</span>
				</div>
				<div class="content">
					<div class="img">
						<%= image_tag 'person-icon.png'%>
					</div>
					<div class="text">
						<h3>Sign up</h3>
						<p>Receive information and updates from In the Zone.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="count">
					<span>2</span>
				</div>
				<div class="content">
					<div class="img">
						<%= image_tag 'trowel-icon.png'%>
					</div>
					<div class="text">
						<h3>Tell us about your garden</h3>
						<p>Register any garden or planting project anywhere, whether it’s in a yard, pot, rooftop, in the water or a community plot. Fill out the In the Zone Tracker baseline survey.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="count">
					<span>3</span>
				</div>
				<div class="content">
					<div class="img">
						<%= image_tag 'garden-icon.png'%>
					</div>
					<div class="text">
						<h3>Choose your Garden Guide and get growing</h3>
						<p>Begin growing a healthy woodland, wetland or wildflower garden designed to help Carolinian wildlife thrive. You might be eligible for one-on-one advice from our experts, a site consultation, free native plants, and more.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="count">
					<span>4</span>
				</div>
				<div class="content">
					<div class="img">
						<%= image_tag 'check-list-icon.png'%>
					</div>
					<div class="text">
						<h3>Track your impact</h3>
						<p>As your garden flourishes and wildlife move in, record your garden transformation and measure your impact using the In the Zone Tracker. You can contribute your observations to valuable citizen science databases.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="count">
					<span>5</span>
				</div>
				<div class="content">
					<div class="img">
						<%= image_tag 'people-icon.png'%>
					</div>
					<div class="text">
						<h3>Connect and celebrate</h3>
						<p>Connect with like-minded gardeners to share stories and successes. Enjoy invitations to special events, gardening workshops and community celebrations.</p>
					</div>
				</div>
			</li>
		</ol>
		<div class="text-center">
			<a href="https://caroliniancanada.ca/tracker" class="button button--primary">Join Us in the Zone</a>
		</div>
	</div>
</section>
<section class="section-tertiary">
	<div class="wrapper" id="stories">
		<h2 class="stories--title">Your Garden Stories</h2>
		<div class="flex-container section--stories">
			<div class="stories--image" title="© Pete Ewins/WWF-Canada">
				<%= image_tag 'stories-dawn.jpg'%>
			</div>
			<div class="stories--content">
				<h3>Meet Dawn Bazely.</h3>
				<p>Eighteen years ago, Dawn Bazely had a vision for her west-end Toronto backyard: to create a place for her children to play and wildlife and native plants to flourish.</p>
				<p>One square metre at a time her lawn has given way to native plants such as Virginia creeper, jack-in-the-pulpit, Michigan lilies and vegetable beds. Garlic, kale, coriander and okra feed her family; perennials ensure a plentiful supply of nectar for bumble bees, wasps and butterflies; the naturalized understory of her back garden attracts American goldfinch, hermit thrushes and white-throated sparrows looking for a veritable buffet of bugs; and at night bats stop by for moths and beetles.</p>
				<p>With careful planning and tending, Dawn’s urban garden is an important link to a wider ecosystem, providing valuable services for people and native wildlife.</p>
			</div>
		</div>
		<h2 class="text-center events--title" id="events">What's Happening?</h2>
		<div class="flex-container section--events">
			<div class="events--item events--image">
				<div class="image">
					<%= image_tag 'bg-plants.jpg'%>
				</div>
			</div>
			<div class="events--item">
				<h3>Rouge National Urban Park Flagship BioBlitz</h3>
				<p class="date">June 24-25, 2017</p>
				<a href="http://www.ontariobioblitz.ca/rouge-national-urban-park-flagship-bioblitz.html" target="_blank" class="p--small">www.ontariobioblitz.ca</a>
				<p>Rouge National Urban Park</p>
			</div>
			<div class="events--item events--image">
				<div class="image">
					<%= image_tag 'bg-shovel.jpg'%>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="sign-up" class="section--sign-up section-primary">
	<div class="wrapper center">
		<h2 class="text-center">Join In the Zone today</h2>
		<a href="https://caroliniancanada.ca/tracker/login" class="button button--primary">Login / Sign Up</a>
	</div>
</section>










