<header>
	<h1>Grow Local, Save Global - Help Rare Wildlife!</h1>
	<a href="#sign-up" class="button button--primary">Sing Up and Get in the Zone</a>
</header>
<section id="in-the-zone" class="section-primary section--about">
	<div class="wrapper flex-container">
		<div class="about--content">
			<h2>In The Zone: Gardens that help native species thrive!</h2>
			<p>The Carolinian Zone in southern Ontario is a hotspot for Canadian biodiversity, with more rare species of plants and animals than any other region in the country. It is a diverse but fragile ecosystem, including one-third of all species at-risk in Canada.  With the population of the region projected to grow significantly, our impact on the landscape will impact the health of all species. If you live in the Carolinian Zone, please join WWF-Canada and Carolinian Canada’s In the Zone program and make your garden an essential part of the solution, a healthy place in which native species thrive, one yard at a time.</p>
			<h3>Your garden can help native species and habitats in the Carolinian Zone thrive!</h3>
			<p><strong>In the Zone</strong> is a program that guides your garden design to cultivate native species and create native habitat. With support from wildlife and gardening experts, you can grow key habitat for warblers, frogs, owls, monarchs, salamanders and more – all in your own yard. </p>
			<p>Using the <strong>In the Zone Garden Tracker</strong>, you can track your garden’s transformation and contribute your sightings of different species to important scientific databases, like the Natural Heritage Information Centre and eBird. Citizen monitoring makes a valuable contribution to our understanding of the health of biodiversity in Ontario, and what’s happening in your yard helps to compile the big picture of how well species are thriving in the Carolinian Zone.</p>
			<p>When you join <strong>In the Zone</strong>, you can also connect with a community of gardeners to share tips on successful gardening, exchange native plants, celebrate success, and more. However you choose to connect, you are part of a network of gardeners that is protecting biodiversity and the health of the broader ecosystem upon which we all depend.  You are making a difference where you live.</p>
		</div>
		<div class="about--image">
			<%= image_tag 'ladybug.png' %>
		</div>
	</div>
</section>
<section class="section-secondary" id="download">
	<div class="wrapper--small center">
		<h2>What’s in your free Carolinian Zone toolkit?  Download a starter kit.</h2>
		<p class="sub-title">Join In the Zone to connect with a community network of gardeners and wildlife experts and grow a healthy and resilient neighbourhood one yard at a time.</p>
		<a href="#sign-up" class="button button--primary">Download your starter kit</a>
	</div>
</section>
<section id="zone-toolkits" class="section-secondary">
	<div class="wrapper--small">
		<h2>What you can grow in the Zone</h2>
		<p class="center sub-title">Explore our In the Zone toolkits to see which habitats attract different wildlife and to find one that is right for you and your garden:</p>
		<div class="zone-toolkits--items flex-container">
			<div>		
				<figure>
					<%= image_tag 'monarch-icon.png'%>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi nisi vitae expedita repellendus temporibus excepturi.</p>
					<figcaption>
						<h4>Grow a bouquet.</h4>
						<p>Birds, butterflies, & other insects and pollinators survive better in gardens with local wild flowers.</p>
						<h4 class="hl">Meadow & Prairie</h4>
						<p><strong>Bonus!</strong> Support local food production with a healthy pollinator population</p>
					</figcaption>
				</figure>
			</div>
			<div>		
				<figure>
					<%= image_tag 'chipmunk-icon.png', class: 'chimpmunk-icon' %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi nisi vitae expedita repellendus temporibus excepturi.</p>
					<figcaption>
						<h4>Grow a bouquet.</h4>
						<p>Birds, butterflies, & other insects and pollinators survive better in gardens with local wild flowers.</p>
						<h4 class="hl">Meadow & Prairie</h4>
						<p><strong>Bonus!</strong> Support local food production with a healthy pollinator population</p>
					</figcaption>
				</figure>
			</div>
			<div>		
				<figure>
					<%= image_tag 'frog-icon.png'%>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi nisi vitae expedita repellendus temporibus excepturi.</p>
					<figcaption>
						<h4>Grow a bouquet.</h4>
						<p>Birds, butterflies, & other insects and pollinators survive better in gardens with local wild flowers.</p>
						<h4 class="hl">Meadow & Prairie</h4>
						<p><strong>Bonus!</strong> Support local food production with a healthy pollinator population</p>
					</figcaption>
				</figure>
			</div>
			<div>		
				<figure>
					<%= image_tag 'chickadee-icon.png'%>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi nisi vitae expedita repellendus temporibus excepturi.</p>
					<figcaption>
						<h4>Grow a bouquet.</h4>
						<p>Birds, butterflies, & other insects and pollinators survive better in gardens with local wild flowers.</p>
						<h4 class="hl">Meadow & Prairie</h4>
						<p><strong>Bonus!</strong> Support local food production with a healthy pollinator population</p>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>
<section id="the-journey" class="section-primary">
	<div class="wrapper--small">
		<h2>The Journey</h2>
		<p class="center sub-title">It’s easy to participate – whether you’re a gardening guru or have a brown thumb. Signing up is the first step to accessing toolkits, individualized support, tracking your impact and connecting with others in your community. Count yourself in today.</p>
		<ol class="journey--items">
			<li>
				<div class="count">
					<span>1</span>
				</div>
				<div class="content">
					<div class="img">
						<%= image_tag 'person-icon.png'%>
					</div>
					<div class="text">
						<h3>Count Yourself In! </h3>
						<p>Join the In the Zone Community. Sign up for updates and find a <strong>toolkit</strong> that is right for you.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="count">
					<span>2</span>
				</div>
				<div class="content">
					<div class="img">
						<%= image_tag 'trowel-icon.png'%>
					</div>
					<div class="text">
						<h3>Count Your Garden In!</h3>
						<p>Register your garden or garden idea. You may be eligible for one-on-one <strong>expert advice</strong>, backyard consultation or <strong>free native plants.</strong></p>
					</div>
				</div>
			</li>
			<li>
				<div class="count">
					<span>3</span>
				</div>
				<div class="content">
					<div class="img">
						<%= image_tag 'garden-icon.png'%>
					</div>
					<div class="text">
						<h3>Create and Cultivate</h3>
						<p>Grow your own, specially selected, native species garden to help Carolinian wildlife, including species at risk.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="count">
					<span>4</span>
				</div>
				<div class="content">
					<div class="img">
						<%= image_tag 'check-list-icon.png'%>
					</div>
					<div class="text">
						<h3>Track Your Impact</h3>
						<p><strong>Measure your garden’s impact</strong>, report sightings & share garden updates using the In the Zone Garden Tracker.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="count">
					<span>5</span>
				</div>
				<div class="content">
					<div class="img">
						<%= image_tag 'people-icon.png'%>
					</div>
					<div class="text">
						<h3>Connect and Celebrate!</h3>
						<p>Link with like-minded <strong>neighbours</strong> via events, community gardens, EcoTrails, recognition & on-line. Keep on growing!</p>
					</div>
				</div>
			</li>
		</ol>
		<div class="text-center">
			<a href="" class="button button--primary">Sign up and get In the Zone</a>
		</div>
	</div>
</section>
<section class="section-tertiary">
	<div class="wrapper">
		<h2 class="stories--title">Your Garden Stories</h2>
		<div class="flex-container section--stories">
			<div class="stories--image">
				<%= image_tag 'stories-photo.png'%>
			</div>
			<div class="stories--content">
				<h3>Meet Veronica.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quo, enim! Saepe perferendis accusantium harum, at aperiam iste assumenda rerum unde porro excepturi voluptatem est velit dignissimos ducimus recusandae blanditiis, dolorem facilis nemo minima repellat iure veritatis officia. Repudiandae deserunt voluptatibus ipsam, dolorem officia expedita aut quis assumenda rerum quam maiores numquam, animi qui et perferendis nam dolor impedit fuga.</p>
			</div>
		</div>
		<h2 class="text-center events--title">Upcoming Events</h2>
		<div class="flex-container section--events">
			<div class="events--item">
				<h3>Go Wild - Grow Wild Expo</h3>
				<p class="date">April 8, 2017</p>
				<p>Metroland Media Agriplex Western Fair District</p>
				<p>845 Florence St. London, ON</p>
			</div>
			<div class="events--item">
				<h3>NATURE NIGHTS</h3>
				<p class="date">April 8, 2017</p>
				<p>Metroland Media Agriplex Western Fair District</p>
				<p>845 Florence St. London, ON</p>
			</div>
			<div class="events--item">
				<h3>Go Wild - Grow Wild Expo</h3>
				<p class="date">April 8, 2017</p>
				<p>Metroland Media Agriplex Western Fair District</p>
				<p>845 Florence St. London, ON</p>
			</div>
		</div>
	</div>
</section>

<section id="sign-up" class="section--sign-up section-primary">
	<div class="wrapper">
		<h2 class="text-center">Count Yourself In! Sign Up Now</h2>
	</div>
</section>










