<!DOCTYPE html>
<html>
<head>
  <title>Count For Nature – WWF Canada</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="admin">
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
		<div id="admin--only">
			<div class="sidebar">
				<%= link_to "WWF Admin", admin_show_path, class: 'sidebar--header'%>
				<% if user_signed_in? %>
					<div class="sidebar--user">
						<span>Logged in as <strong><%= current_user.email %></strong></span>
				  	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
					</div>
				<% end %>
			</div>
			<div class="breadcrumb">
				<p>breadcrumbs</p>
			</div>
			<div class="admin--content">
				<%= yield %>
			</div>
		</div>
	</div>

	<script>
		setTimeout(function(){
		  $('#alert, .alert').remove();
		}, 1500);
	</script>

</body>
</html>







