<!DOCTYPE html>
<html>
<head>
  <title>WwfCarolinian</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="clearfix">
		<a href="#" class="main--toggle">
			<span></span>
		</a>
	<div class="wrapper wrapper--nav">
		<div class="logo"><%= link_to root_path do %><%= image_tag 'logo.png'%><% end %></div>
		<ul class="menu--main">
			<li><%= link_to 'in the zone', root_path(:anchor => 'in-the-zone')%></li>
			<li><%= link_to 'what can you grow?', root_path(:anchor => 'what-can-you-grow')%></li>
			<li><%= link_to 'how-it-works', root_path(:anchor => 'how-it-works')%></li>
			<li><%= link_to 'what\'s going on', root_path(:anchor => 'events')%></li>
			<li><%= link_to 'About Us', about_path %></li>
			<li class="nav--sign-up"><%= link_to 'sign up', root_path(:anchor => 'sign-up')%></li>
		</ul>
	</div>
</nav>
<%= yield %>
<footer>
	<div class="footer--main">	
		<div class="wrapper">
			<div class="links">
				<h3>In The Zone</h3>
				<ul>
					<li><%= link_to 'Who We Are', about_path %></li>
					<li><a href="">Privacy Policy</a></li>
					<li><a href="">Contact</a></li>
				</ul>	
			</div>
			<div class="logos"></div>
		</div>
	</div>
	<div class="footer--copyright">
		<p class="text-center">© 2016 WWF. ALL RIGHTS RESERVED.</p>
	</div>
</footer>
</body>
</html>
<script>
	//smartresize function (to deal with window maximize button and resize)
	(function($,sr){
	  var debounce = function (func, threshold, execAsap) {
	      var timeout;

	      return function debounced () {
	          var obj = this, args = arguments;
	          function delayed () {
	              if (!execAsap)
	                  func.apply(obj, args);
	              timeout = null;
	          };

	          if (timeout)
	              clearTimeout(timeout);
	          else if (execAsap)
	              func.apply(obj, args);

	          timeout = setTimeout(delayed, threshold || 100);
	      };
	  }
	  // smartresize 
	  jQuery.fn[sr] = function(fn){  return fn ? this.bind('resize', debounce(fn)) : this.trigger(sr); };

	})(jQuery,'smartresize');
	//hamburger nav
	$('.main--toggle').on('click', function(e){
		e.preventDefault();
		$(this).toggleClass('active');
		$('.menu--main').slideToggle('normal')
	})

	$('a[href*="#"]:not([href="#"])').click(function() {
	    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
	      var target = $(this.hash);
	      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	      if (target.length) {
	        $('html, body').animate({
	          scrollTop: target.offset().top
	        }, 1000);
	        return false;
	      }
	    }
	  });
	var windowSize = $(window).innerWidth()

	function mainMenuSmall(){
		if(windowSize <= 960){
			$('.menu--main').css({'width': '100%', 'margin-left': '0', 'left' : '0', 'display' : 'none'});
			$('.generic-story').each(function(i){
				i > 0 ? $(this).addClass('off') : null
				i == 0 ? $(this).addClass('active') : null
			});
		}else{
			$('.menu--main').css({'width': 'auto', 'margin-left': '140px', 'display': 'flex'})
		}
	}

	var theWidth = $(window).width();
	$(window).smartresize(function(){
		if($(this).width() != theWidth){
			windowSize = $(window).innerWidth()
			mainMenuSmall()
			theWidth = $(this).width()
		}
	});
	mainMenuSmall()

	//Header image fade
	var bgImageArray = [ "butterfly-header.jpg", "bg-bee.jpg", "bg-frog.jpg", "bg-gardener.jpg", "bg-plants.jpg"],
	base = "https://s3.amazonaws.com/carolinian/",
	secs = 4;
	bgImageArray.forEach(function(img){
	    var image = new Image().src = base + img;
	    // caches images, avoiding white flash between background replacements
	});


	var imageSet1 = ["butterfly-header.jpg", "bg-bee.jpg", "bg-frog.jpg"];
	var currentImageSet1 = 0;

	var imageSet2 = ["bg-gardener.jpg", "bg-plants.jpg", 'bg-shovel.jpg'];
	var currentImageSet2 = 0;
	imageSet1.forEach(function(img){
	    var image = new Image().src = base + img;
	    // caches images, avoiding white flash between background replacements
	});
	imageSet2.forEach(function(img){
	    var image = new Image().src = base + img;
	    // caches images, avoiding white flash between background replacements
	});

	function changeBackgroundImages() {
	    img1Fade();
	    setTimeout(img2Fade, 2000);

	}

	function img1Fade(){

	    $('#bg-fade-1').fadeOut('slow', function(){
	    	$('#bg-fade-1').css({background: 'url('+ base + imageSet1[++currentImageSet1] + ')  no-repeat center center fixed', 'background-size': 'cover'})
		});
	    $('#bg-fade-2').fadeIn('slow');
	    if (currentImageSet1 >= imageSet1.length - 1) {

	            currentImageSet1 -= imageSet1.length;
	        };
	}

	function img2Fade(){

	    $('#bg-fade-2').fadeOut('slow', function(){$('#bg-fade-2').css({background: 'url('+ base + imageSet2[++currentImageSet2] + ') no-repeat center center fixed', 'background-size': 'cover'})});
	    $('#bg-fade-1').fadeIn('slow');
	    if (currentImageSet2 >= imageSet2.length - 1) {

	            currentImageSet2 -= imageSet2.length;
	        };
	}

	setInterval(changeBackgroundImages, 4000);

	// function backgroundSequence() {
	// 	window.clearTimeout();
	// 	var k = 0;
	// 	for (i = 0; i < bgImageArray.length; i++) {
	// 		setTimeout(function(){ 
	// 			document.getElementById('bg-header').style.background = "url(" + base + bgImageArray[k] + ") no-repeat center center fixed";
	// 			document.getElementById('bg-header').style.backgroundSize ="cover";
	// 		if ((k + 1) === bgImageArray.length) { setTimeout(function() { backgroundSequence() }, (secs * 1500))} else { k++; }			
	// 		}, (secs * 1500) * i)	
	// 	}
	// }
	// backgroundSequence();
</script>