<!DOCTYPE html>
<html>
<head>
  <title>WwfCarolinian</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="clearfix">
		<a href="#" class="main--toggle">
			<span></span>
		</a>
	<div class="wrapper wrapper--nav">
		<div class="logo"><%= image_tag 'logo.png'%></div>
		<ul class="menu--main">
			<li><%= link_to 'About', about_path %></li>
			<li><a href="">in the zone</a></li>
			<li><a href="">zone toolkits</a></li>
			<li><a href="">journey</a></li>
			<li><a href="">events</a></li>
			<li class="nav--sign-up"><a href="">sign up</a></li>
		</ul>
	</div>
</nav>
<%= yield %>
<footer>
	<div class="footer--main">	
		<div class="wrapper">
			<div class="links">
				<h3>In The Zone</h3>
				<ul>
					<li><%= link_to 'About', about_path %></li>
					<li><a href="">Privacy Policy</a></li>
				</ul>	
			</div>
			<div class="logos"></div>
		</div>
	</div>
	<div class="footer--copyright">
		<p class="text-center">© 2016 WWF. ALL RIGHTS RESERVED.</p>
	</div>
</footer>
</body>
</html>
<script>
	//smartresize function (to deal with window maximize button and resize)
	(function($,sr){
	  var debounce = function (func, threshold, execAsap) {
	      var timeout;

	      return function debounced () {
	          var obj = this, args = arguments;
	          function delayed () {
	              if (!execAsap)
	                  func.apply(obj, args);
	              timeout = null;
	          };

	          if (timeout)
	              clearTimeout(timeout);
	          else if (execAsap)
	              func.apply(obj, args);

	          timeout = setTimeout(delayed, threshold || 100);
	      };
	  }
	  // smartresize 
	  jQuery.fn[sr] = function(fn){  return fn ? this.bind('resize', debounce(fn)) : this.trigger(sr); };

	})(jQuery,'smartresize');
	//hamburger nav
	$('.main--toggle').on('click', function(e){
		e.preventDefault();
		$(this).toggleClass('active');
		$('.menu--main').slideToggle('normal')
	})
	var windowSize = $(window).innerWidth()

	function mainMenuSmall(){
		if(windowSize <= 960){
			$('.menu--main').css({'width': '100%', 'margin-left': '0', 'left' : '0', 'display' : 'none'});
			$('.generic-story').each(function(i){
				i > 0 ? $(this).addClass('off') : null
				i == 0 ? $(this).addClass('active') : null
			});
		}else{
			$('.menu--main').css({'width': 'auto', 'margin-left': '140px', 'display': 'flex'})
		}
	}

	var theWidth = $(window).width();
	$(window).smartresize(function(){
		if($(this).width() != theWidth){
			windowSize = $(window).innerWidth()
			// mainMenu()
			mainMenuSmall()
			theWidth = $(this).width()
		}
	});
	// mainMenu()
	mainMenuSmall()
</script>